@model IEnumerable<sLog.Demo.DataSource.NetScanner.LogOfPingResult>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.RoundtripTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Item.Target">
                        @Html.DisplayFor(modelItem => item.Item.Target)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.RoundtripTime)
                </td>
                @*<td>
                        <a asp-action="Details" asp-route-id="@item.LogId">Details</a> |
                    </td>*@
            </tr>
        }
    </tbody>
</table>
